*{
    list-style: none;
    color: white;
}

body{
    /* background-image: url("https://qph.cf2.quoracdn.net/main-qimg-52e39ba704a084fd6fe19ac53ff4607e"); */
    background-repeat: no-repeat;
    background-size: 100%;
    /* backdrop-filter: saturate(180%) blur(20px);  */
    background-color: rgb(255, 255, 255);
    background-position-y: -51%;
    background-position-x: 52%;
    font-family: system-ui;
}
li{
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    
}
a{
    text-decoration: none;
}
input{
    padding: 11px 17px;
    border: none;
    border-radius: 38px;
    font-size: 10px;
    margin-left: -7%;
    position: fixed;
    z-index: -1;
}
.header-wrapper {
    max-width: fit-content;
    position: relative;
}
.menubar {
    float: left;
    padding: 63px;
    width: 13%;
    left: -1%;
    top: 0%;
    height: 85%;
    border: solid 1px black;
    z-index: -1;
    position: fixed;
    background: #000000;
    font-weight: 700;
}

.menubar a {
    line-height: 72px;
    color: gray;
}
button{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 6px 14px;
    border: none;
    border-radius: 38px;
    font-size: 10px;
    position: relative;
    top: 7px;
}
form{
    float: inline-end;
    position: static;
    padding-top: 50%;
}
form p{
    color: black;
    font-size: 12px;
    float: inline-end;
}
.menubar i{
    position: relative;
    top: -2px;
    left: -7px;
    color: gray;
}
.timedate{
    font-size: 30px;
    position: fixed;
    left: 50%;
}
.songslist{
    background-color: purple;
    width: 79%;
    height: 883px;
    position: relative;
    left: 21%;
    border-radius: 23px;
    top: -25px;
    z-index: 1;
}